/*   Name: Sanchita Kanade
	 Instructor Name: Zak Ruvalcaba
	 Class: CS648.01 Modern Web Development Frameworks Fall 2019
	 File: styles.css 
	 Assignment No.: 11
*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.carousel   { width:100%; }
h3          { margin-top:20px;}

.solution_heading { 
    margin-left:11em;
    margin-bottom: 20px; 
}

.links {margin-top: 20px;}

footer p {margin-left: 26em;}